<!--folderForm.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <title>File Uploader</title>
</head>
<body>
  <h1>Create a folder</h1>
  <form action="/createFolder" method="POST">
    <input type="text" name="name" required>
    <button type="submit">Create Folder</button>
  </form>  
  <a href="/">Back</a>
</body>
</html>
