<!--index.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Home</title>
</head>
<body>
  <h1>File Uploader</h1>
  <ul>
    <li><a href="/upload">Upload file</a></li>
    <li><a href="createFolder">Create folder</a></li>
    <li><a href="folders">Folders</a></li>
    <li><a href="view">Your Files</a></li>
  </ul>
</body>
</html>
