<!--index.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Home</title>
</head>
<body>
  <h1>This is the File Uploader</h1>
  <a href="/upload">Upload file</a>
  </form>  
</body>
</html>
