<!--viewDetails.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/view.css">
  <title>Files</title>
</head>
<body>
  <h1>File Details:</h1>
    <ul>
        <li><%= file.id %></li>
        <li><%= file.filename %></li>
        <li><%= file.path %></li>
    </ul>
  <a href="/">Home</a>
</body>
</html>
