<!--view.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/view.css">
  <title>Files</title>
</head>
<body>
  <h1>Your files</h1>
  <p>your files should appear here the same way as they appear in view</p>
  <a href="/">Home</a>
</body>
</html>
